modules = ["nodejs-20", "postgresql-16"]
run = "NODE_ENV=production tsx server/index.ts"

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "NODE_ENV=production tsx server/index.ts"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build:client"]

[[deployment.responseHeaders]]
path = "/*"
name = "X-Frame-Options"
value = "ALLOWALL"

[[deployment.responseHeaders]]
path = "/*"
name = "Access-Control-Allow-Origin"
value = "*"

[workflows]

[[workflows.workflow]]
name = "start application "
mode = "sequential"
author = 38953287

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
